.navbar .site-name {
  display: none;
}

.theme-default-content:not(.custom) {
    max-width: 70%;
}

.home .hero .action-button {
    background-color: #3498db !important;
    border-bottom: 1px solid #2980b9 !important;
}

a.sidebar-link.active {
    color: #4fbcf6 !important;
    border-left-color: #4fbcf6 !important;
}

.go-to-top {
  color: #4fcbf9 !important;
}

.search-box input:focus {
  border-color: #2980b9 !important;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
  border-bottom: 2px solid #4fbcf6 !important;
}